@{
    ViewBag.Title = "About";
}

<div class="text-center">
    <h1 class="display-4">About BudgetAmazon</h1>
    <br />
    <img alt="BA" src="~/images/budgetAmazon.png" width="700" height="200">
    <br /><br /><br />
    <h4>- Our Mission -</h4>
    <p>To Sell the Correct Products to Passionate People!</p>
    <h5>BudgetAmazon was founded in 2022 by:</h5>
    <p>Michael Younes</p>
    <p>Jonathan Pauze</p>
    <p>Brayden Tsitirides</p>
    <p>Zach</p>
    <p>Fahad</p>
    <p>Aly</p>
    <h5>A little bit about us</h5>
    <p>
        The idea of BudgetAmazon was created by 6 Computer Science and Engineering Students in January of 2022 for a team project in the SOEN 331 Class. The team split the project into different parts and assigned a part
        to each person in the group. The team then used the Scrum method with the divided assignments and performed sprints to complete these tasks in the period of time given for each sprint.
    </p>
</div>